.navbar{
    display: flex;
    flex-direction: column;
    width: 300px;
    background-color: #fafafa91;;
    align-items: center;
    border-bottom: 1px solid rgb(255,240,218);
    border-bottom-right-radius: 12px;
    .navbarContent{
        margin-top: 30px;
        margin-left: 35px;
        display: flex;
        flex-direction: column;
        background-color: #fafafa67;
        width: 100%;
        align-items: center;
        height: 1200px;
        .navElem{
            text-decoration: none;
            &:visited{
                color: rgba(103, 171, 255, 0.984);
            }
            div{
                display: flex;
                align-items: center;
                margin: 6px 0;
                width: 160px;
                border: 1px solid white;
                padding: 3px 0;
                transition: 0.2s ease-in-out all;
                border-radius: 10px;
                font-weight: 700;
                cursor: pointer;
                p{
                    margin-left: 8px;
                }
                img{
                    margin-left: 5px;
                }
                &:hover{
                    background-color: white;
                }
            }
        }
    }
}