body{
    background-color: #FAFAFA;
}

.mainLogin{ 
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 1000px;
    margin-top: 100px;
    .mainBlock{
        box-sizing: border-box;
        box-shadow: 1px 1px 1px 1px  rgba($color: #000000, $alpha: 0.1);
        background-color: white;
        width: 500px;
        padding: 100px 0;
        .loginHeader{
            display: flex;
            justify-content: center;
        }
        .inputField{
            width: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            .facebook {
                font-weight: 700;
                color: #05359e;
                font-size: 13px;
                cursor: pointer;
                margin-bottom: 15px;
            }
            .forgot {
                font-weight: 700;
                color: #05359e;
                font-size: 10px;
                cursor: pointer;
            }
            hr {
                margin-top: 15px;
                width: 225px;
                background-color: rgb(213, 213, 213);
            }
            .hr{
                padding: 15px;
                background-color: #fff;
                margin-top: -26px;
                color: rgb(117, 112, 112);
            }
            .textField{
                margin: 10px 0;
                display: flex;
                flex-direction: column;
                transition: 0.2s ease-in-out all;
            }
            button{
                margin-top: 20px;
                border: 1px solid #e9ebe7;
                background: #0095F6;
                padding: 10px 48px;
                width: 230px;
                border: 1px solid #e9ebe7;
                border-radius: 8px;
                cursor: pointer;
                color: white;
                height: 40px;
                margin-bottom: 15px;
                font-weight: 500;
                transition: 0.2s ease-in-out;
                &:hover{
                    -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
            div{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 15px;
                p{
                    width: auto;
                }
                span{
                    color: blue;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
        .loginFooter{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            margin-top: 20px;
            img{
                cursor: pointer;
                transition: 0.2s ease-in-out;
                &:hover{
                    -webkit-transform: scale(1.1);
                    -ms-transform: scale(1.1);
                    transform: scale(1.1);
                }
            }
        }
    }
}